<%= render "shared/navbar" %>
<%= render "shared/search_form" %>
<div class="index-container min-height">
  <% @parties.each do |party| %>
    <%= link_to party_path(party) do %>
      <div class="card-party">
        <%= cl_image_tag party.photo.key, height: 200 %>
        <div class="card-party-infos">
          <h3 class="decoration-none"><%= party.title %></h3>
          <%# <p><strong>Genre: </strong><%= party.music_genre %>
          <div class="card-details">
            <p><strong>Venue: </strong><%= party.location %></p>
            <%# <p><strong>Description: </strong><%= party.description %>
            <p><strong>Date: </strong><%= party.date %></p>
            <%# <p><strong>Start: </strong><%= party.starttime.strftime('%b %e, %l:%M %p') %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
  <div class="map-btn btn btn-primary">
    <%= link_to map_path do%>
    Map <i class="far fa-map"></i>
    <% end %>
  </div>
</div>
