
<%= render "shared/navbar" %>
<% @party.comments.each do |comment| %>
  <%= comment.content %>
<% end %>
<%= render "shared/search_form" %>
<div class="card-show-container">
  <h1><%= @party.title %></h1>
  <%= cl_image_tag @party.photo.key, width: 800, crop: :fit, class: "rounded" %>
    <div class="edit">
      <div class="edit2">
      <% if policy(@party).edit? %>
        <%= link_to "Edit this party", edit_party_path(@party) %> |
      <% end %>
        <%= link_to "Delete this party", @party, class: "destroy", method: :delete if policy(@party).destroy? %>
        </div>
        <div class="btn-bookmark">
        <% if current_user.favorited?(@party) %>
          <%= link_to favorite_party_path, data: {
            controller: "bookmarked",
            action: "click->bookmarked#fireSweetAlert",
            turbo_method: :patch,
            bookmarked_favoriting_value: false
          }, class: "btn btn-primary rounded-circle my-3" do %>
            <i class="fa-solid fa-bookmark" data-bookmarked-target= "bookmark"></i>
          <% end %>
        <% else %>
          <%= link_to favorite_party_path, class: "btn btn-primary rounded-circle my-3", data: {
            controller: "bookmarked",
            action: "click->bookmarked#fireSweetAlert",
            turbo_method: :patch,
            bookmarked_favoriting_value: true
          } do %>
            <i class="fa-regular fa-bookmark" data-bookmarked-target= "bookmark"></i>
          <% end %>
        <% end %>
        </div>
    </div>
    <div class="card-show-details d-flex justify-content-between">
      <div class="card-show-infos">
        <p><i class="fa-solid fa-music"></i> <%= @party.music_genre %></p>
        <p><i class="fa-solid fa-calendar-days"> </i> <%= @party.date.strftime("%a %e %B %Y") %></p>
        <p><i class="fa-solid fa-clock-eleven"></i> <%= @party.start_time.strftime("%l:%M %p") %></p>
        <p><i class="fa-solid fa-location-dot"> </i> <%= @party.location %></p>
        <p><i class="fa-solid fa-earth-americas"> </i> <%= @party.address  %></p>
        <br>
        <p>Description</p>
      </div>
    </div>
    <div class="card-description">
      <% if @party.description.length < 250 %>
        <p><%= @party.description %></p>
      <% else %>
        <div data-controller="readmore">
          <div data-readmore-target="hideable">
            <p><%= @party.description[0..249] %></p>
            <a class="retro-button" role="button" data-action="readmore#hidden">
              Read more
            </a>
          </div>
          <div data-readmore-target="hideable" hidden>
            <p><%= @party.description %></p>
          </div>
          <%# <div class="collapse">
            <div class="card card-body card-collapse">
              <p class="card-description"><%= @party.description[250..] %>
            <%# </div> %>
      <% end %>
            <%# </div> %>
        </div>
    </div>

    <h1>Write a Comment</h1>
    <%= simple_form_for [@party, @comment] do |f| %>
      <%= f.input :content %>
      <%= f.input :rating %>
      <%= f.submit "Comment" %>
    <% end %>

  <div style="width: 100%; height: 400px;"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
