<%= render "shared/navbar" %>
<main id="main-content">
  <div class="comment-container">
    <h1 class="mb-4">Write a Comment</h1>
    <%= simple_form_for [@party, @comment] do |f| %>
      <%= f.input :content, label: false %>
        <div class="d-flex justify-content-end">
      <%= f.submit "Comment", class: "retro-button px-2" %>
      </div>
    <% end %>
    <% @comments.each do |comment|%>
    <div class="user-comment mt-4 p-2 border border-white">
      <div class="comment-user-time border-bottom">
      <p class="comment-content"><i class="fa-solid fa-skull me-2"></i><%= comment.user.username %></p>
          <p class="comment-content font-weight-light"><i class="fa-regular fa-clock me-2"></i><%= comment.created_at.strftime("%m-%e-%y %H:%M") %></p>
      </div>
        <div class="comment-text">
          <p>
            <i class="fa-regular fa-comments me-2 mt-1"></i><%= comment.content %>
          </p>
        </div>
    </div>
    <% end %>
  </div>
</main>
