<%= render "shared/navbar" %>
<main id="main-content">
  <h1>Write a Comment</h1>
  <%= simple_form_for [@party, @comment] do |f| %>
    <%= f.input :content, label: false %>
    <%= f.submit "Comment", class: "retro-button" %>
  <% end %>
  <% @comments.each do |comment|%>
  <p class="comment-content"><%= comment.user.username %></p>
  <p class="comment-content"><%= comment.created_at.strftime("%m-%e-%y %H:%M") %></p>
  <p class="comment-content">
    <%= comment.content %>
  </p>
  <% end %>
</main>
