<div class="simple-calendar">
  <div class="d-flex align-items-center justify-content-between">
    <div class="calendar-heading my-2">
      <%= link_to t('simple_calendar.previous', default: 'Previous'), calendar.url_for_previous_view, class: 'retro-button' %>
      <% if calendar.number_of_weeks == 1 %>
        <span class="calendar-title"><%= t('simple_calendar.week', default: 'Week') %> <%= calendar.week_number %></span>
      <% else %>
        <span class="calendar-title"><%= t('simple_calendar.week', default: 'Week') %> <%= calendar.week_number %> - <%= calendar.end_week %></span>
      <% end %>
      <%= link_to t('simple_calendar.next', default: 'Next'), calendar.url_for_next_view, class: 'retro-button' %>
    </div>
    <div class="my-1">
      <%= link_to 'Create Party', new_party_path, class: 'retro-button'%>
    </div>
  </div>

  <table class="table table-striped">
    <tbody>
      <% date_range.each_slice(7) do |week| %>
          <% week.each do |day| %>
          <tr>
            <%= content_tag :td, class: calendar.td_classes_for(day) do %>
              <strong> <%= t('date.abbr_day_names')[day.wday] %> </strong>
                <% passed_block.call day, sorted_events.fetch(day, []) %>
            <% end %>
          <% end %>
          </tr>
      <% end %>
    </tbody>
  </table>
</div>
